body{
    margin: 0px;
    padding: 0;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    box-sizing: border-box;
    position: relative;
    background-color: #609EA2;
    /* background-color: 	#000000;
    color: #fff; */
    /* color: #f2f2f2; */
    /* background-color: 	#000000; */
    /* background-color: #232f3e; */
    font-family: 'Roboto', sans-serif;
    /* background-color: #f2f2f2;
    background-image: linear-gradient(45deg, #f2f2f2 0%, #232f3e 33%, #000000 100%); */

 
}
#root{
    padding: 0;
}
#footer{
    position: absolute;
    bottom: 0;
}
#app{
    height: 87vh;
    width: 100vw;
    max-width: 100vw;
    overflow: scroll;
    /* border: 1px solid black; */
}
#brand{
    color: #C92C6D;
    font-family: 'McLaren', cursive;
}
.app-heading{
    /* border: 1px solid black; */
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    padding: 0.75rem;
    font-size: 2.2rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
    /* background-color:	#ff9900 ; */
   color: #F0EEED;
}
.btn >a{
    text-decoration: none;
    color: #f2f2f2;
}
.btn{
    background-color:	#232f3e;
    color: #f2f2f2;
    font-size: 1rem;
    letter-spacing: 0.0125rem;
     --bs-btn-border-color: none;
     --bs-btn-hover-color: #fff;
     --bs-btn-hover-bg: #146eb4 ;
     --bs-btn-hover-border-color: none;
     --bs-btn-focus-shadow-rgb: 225,83,97;
     --bs-btn-active-color: #fff;
     --bs-btn-active-bg:#232f3e;
     --bs-btn-active-border-color:none;
     --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
     --bs-btn-disabled-color: #fff;
     --bs-btn-disabled-bg:#ffe0b2;
     --bs-btn-disabled-border-color:none;
}
.back-button{
    margin-bottom: 1rem;
    background-color: #C92C6D;
}
.back-button img{
    height: 1.25rem;
    width: 2.5rem;
}
.card img{
    height: 6.25rem;
    width: 6.25rem;
    margin: 1rem;
}
#create-btn{
background-color: #C92C6D;
}

/* font-family: 'Lato', sans-serif;
font-family: 'McLaren', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */